@media (max-width: 1200px) {
  .height-cards {
    min-height: 325.75px;
  }

  .des-mb {
    margin-bottom: 74px;
  }

  .descr-mb {
    margin-bottom: 98px;
  }

  .hero__container {
    background-size: 50%;
  }
}

@media (max-width: 992px) {
  .hero__container {
    background-position: 100%;
  }

  .hero__title {
    font-size: 47px;
  }

  .hero__descr {
    max-width: 380px;
  }

  .height-cards {
    min-height: 397.75px;
  }

  .courses__clock {
    right: 5.5%;
  }

  .des-mb {
    margin-bottom: 98px;
  }

  .descr-mb {
    margin-bottom: 122px;
  }

  .about__text-bg3 {
    padding-left: 0;
    padding-top: 91px;
  }

  .about__text {
    padding-left: 0;
    padding-top: 91px;
    background-position: 10% 0%;
  }

  .teachers__row {
    row-gap: 22px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 716px;
  }

  .header__list {
    gap: 40px;
  }

  .hero {
    background-image: url(../img/Rectangle-6bg-768.jpg);
  }

  .hero__container {
    background-image: url(../img/Group-204-BG-768.svg);
    background-position: 97% 43%;
    background-size: 46%;
  }

  .hero__title {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 15px;
  }

  .hero__descr {
    max-width: 345px;
    margin-bottom: 66px;
  }

  .about__up {
    background-image: url(../img/Vectary-texturestiks-768.svg);
    padding-left: 239px;
    background-position: 0 46%;
    margin-bottom: 19px;
  }

  .about__text {
    padding-left: 14px;
  }

  .teachers__pictures {
    margin-bottom: 28px;
    object-fit: cover;
  }

  .teachers__row {
    row-gap: 22px;
  }

  .teachers {
    padding-bottom: 48px;
  }

  .courses__descr {
    margin-bottom: 32px;
  }

  .des-mb {
    margin-bottom: 80px;
  }

  .height-cards {
    min-height: 379.75px;
  }

  .descr-mb {
    margin-bottom: 104px;
  }

  .courses__clock {
    right: 7%;
  }
}

@media (max-width: 670px) {
  .courses__descr {
    margin-bottom: 83px;
  }

  .descr-mb {
    margin-bottom: 179px;
  }

  .courses__under {
    min-height: 430.75px;
  }

  .hero__descr {
    font-size: 17px;
  }

  .hero__container {
    background-position: 97% 34%;
  }
}

@media (max-width: 576px) {
  .header__container {
    flex-direction: column;
    align-items: center;
  }

  .header__logo {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .header__list {
    gap: 57px;
  }

  .hero__container {
    padding-top: 78px;
    padding-bottom: 132px;
    background-image: none;
  }

  .hero__descr {
    font-size: 18px;
  }

  .hero {
    background-image: url(../img/Rectangle-6bg-576.jpg);
  }

  .container {
    max-width: 540px;
  }

  .about__up {
    background-image: url(../img/Vectary-texturestiks-576.svg);
    padding-left: 180px;
    background-position: 0 0;
    margin-bottom: 25px;
  }

  .about__title {
    max-width: 330px;
    margin-bottom: 17px;
  }

  .about__text {
    padding-left: 15px;
    padding-top: 89px;
    background-position: 14% 0%;
  }

  .offset {
    padding-bottom: 55px;
  }

  .teachers {
    padding-bottom: 71px;
  }

  .courses__title-h2 {
    line-height: 23.4px;
    margin-bottom: 7px;
  }

  .courses__under {
    padding: 31px 15px 30px 30px;
  }

  .courses__button {
    max-width: 180px;
    padding: 20.5px 57px 20.5px 47px
  }

  .courses__descr {
    margin-bottom: 35px;
  }

  .des-mb {
    margin-bottom: 83px;
  }

  .descr-mb {
    margin-bottom: 134px;
  }

  .courses__clock {
    right: 9%;
  }
}


@media (max-width: 484px) {
  .header__nav {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .header__container {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
  }

  .header__logo {
    margin-bottom: 26px;
  }

  .header__list {
    gap: 56px;
  }

  .hero__container {
    padding-top: 50px;
    padding-bottom: 48px;
  }

  .hero__title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 5px;
  }

  .hero__descr {
    font-size: 16px;
    line-height: 20.8px;
    margin-bottom: 45px;
  }

  .hero__button {
    padding: 20.5px 53.5px 20.5px 53.5px;
    font-size: 16px;
  }

  .offset {
    padding-top: 47px;
    padding-bottom: 48px;
  }

  .about__title {
    max-width: 290px;
    margin-bottom: 2px;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
  }

  .about__up {
    background-image: none;
    padding-left: 0;
    margin-bottom: 25px;
  }

  .about__text {
    padding-left: 124px;
    padding-top: 0px;
    background-position: 7% 0%;
    margin-bottom: 30px;
    padding-right: 0;
  }

  .about__text:last-child {
    margin-bottom: 0px;
  }

  .teachers__title {
    font-size: 20px;
    line-height: 20px;
  }

  .courses__title {
    font-size: 20px;
    line-height: 20px;
  }

  .courses__clock {
    right: 8%;
  }

  .courses__title-h2 {
    margin-bottom: 7px;
    max-width: 195px;
  }

  .courses__under {
    padding: 35px 15px 30px 30px;
    min-height: 473px;
  }

  .courses__descr {
    font-size: 16px;
    line-height: 24px;
    max-width: 230px;
    margin-bottom: 82px;
  }

  .courses__under:nth-child(2n + 1) {
    margin-bottom: 30px;
  }

  .courses__under:nth-child(2n) {
    margin-bottom: 0px;
  }

}
